//  media queries 1100

@media (max-width: 1100px) {

  // cover

  .slogan {
    left: 12%;
  }

  // contact

  .form-data,
  .form-message {
    width: 900px;
    flex-direction: column;
    margin: 0 !important;
    padding: 0;

    input {
      margin: .5em;
    }
  }
}
