// blog

.blog {
  @include flex(center);
  flex-direction: column;
  height: 56.2em;
}

.blog-info {
  @include container;
  height: 27.8125em;

  h4 {
    margin: 2.7em 0 .5em -.3em;
    text-transform: capitalize;

    span {
      margin-left: .35em;
    }
  }

  p {
    margin-top: .9em;
  }
}

.blog-promo {
  @include flex(center);
  align-content: center;
  padding-bottom: 10em;
}

.view-promo {
  @include button;
  height: 21.875em;
  margin: .8125em;
  overflow: hidden;
  transition: transform .3s ease-in-out;
  width: 18.5em;

  &:first-child {
    @include img('../images/htm-bread.jpg', center, initial);
  }

  &:nth-child(2) {
    @include img('../images/htm-burger.jpg', center, initial);
  }

  &:nth-child(3) {
    @include img('../images/htm-breakfast.jpg', center, initial);
  }

  &:last-child {
    @include img('../images/htm-pizza.jpg', center, initial);
  }

  h5 {
    background-color: $font-light;
    border-radius: 0 0 10em 10em;
    color: $pipe;
    height: 5em;
    margin: 0 0 0 -.25em;
    padding-top: 1em;
    width: 12.8333em;

    span {
      color: $font-blog;
    }
  }

  button {
    font-size: 1rem;
    height: 2.6em;
    margin: 3em auto;
    opacity: 0;
    transition: visibility 0s, opacity .5s ease-in;
    visibility: hidden;
    width: 6em;
  }

  &:hover {
    overflow: hidden;
    transform: translateY(10%);

    h5 {
      animation: reveal-btn .3s ease-in;
      animation-fill-mode: forwards;
    }

    button {
      opacity: 1;
      visibility: visible;
    }
  }
}

@media (max-width: 81rem) {
  .blog {
    align-items: center;
    height: auto;
  }

  .blog-info {
    height: 22em;
    padding-bottom: 3em;
    width: 100%;
  }

  .blog-promo {
    align-items: center;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    max-height: 50em;
    padding-bottom: 0;
    width: 82vw;
  }

  .view-promo {
    margin: 0 .5em 3em;
    width: 18.5em;
  }
}

@media (max-width: 68rem) {
  .blog {
    padding: 0;
  }

  .blog-info {
    height: auto;
    width: 82vw;
  }

  .blog-promo {
    width: 82vw;
  }
}

@media (max-width: 48rem) {
  .blog {
    justify-content: space-between;
    max-height: 120em;
  }

  .blog-info {
    height: 16em;

    h4 {
      font-size: 2em;
    }

    p {
      font-size: 1em;
    }
  }

  .blog-promo {
    align-content: flex-end;
    flex-direction: row;
    width: 100%;
  }
}

@media (max-width: 40.062rem) {
  .blog {
    height: 120em;
  }
}
