// contact

.contact {
  @include flex(center);
  @include img('../../images/pie.jpg', center, normal);
  @include button;
  height: 800px;

  h4 {
    color: $font-light;
    margin: 3.6em 0 1em;
    text-align: center;
    text-transform: capitalize;

    span {
      margin-left: .6em;
    }
  }

  form {
    @include flex(center);
    flex-direction: column;
    width: 80.75em;

    .form-data,
    .form-message {
      @include flex(center);
      padding: 1.1em;
    }

    .form-data {
      flex-direction: row;

      input {
        @include input;
        height: 2.8em;
        letter-spacing: normal;
        padding: .08em 1.6em;
        width: 100%;

        &:nth-child(2) {
          margin: 0 2.8em;
        }

      }
    }

    .form-message {
      flex-direction: column;

      textarea {
        @include input;
        height: 14em;
        resize: none;
      }

      button {
        font-size: 1.2em;
        margin: 2.4em auto;
        width: 100%;
      }
    }
  }
}
