// contact

.contact {
  @include flex(center);
  flex-direction: column;
}

.contact-form {
  @include flex(center);
  @include button;
  @include img('../images/pie.jpg', center, normal);
  align-items: center;
  flex-direction: column;
  height: 800px;
  margin: 0 auto;
  width: 100%;

  h4 {
    color: $font-light;
    margin: 3.4em 0 1em;
    text-align: center;
    text-transform: capitalize;

    span {
      margin-left: .6em;
    }
  }

  form {
    @include flex(center);
    flex-direction: column;
    width: 80.75em;
  }
}

.form-data,
.form-message {
  @include flex(center);
  padding: 1.1em;
}

.form-data {
  flex-direction: row;

  input {
    @include input;
    height: 2.8em;
    letter-spacing: normal;
    padding: .08em 1.6em;
    width: 100%;

    &:nth-child(2) {
      margin: 0 2.8em;
    }

  }
}

.form-message {
  flex-direction: column;

  textarea {
    @include input;
    height: 14em;
    resize: none;
  }

  button {
    font-size: 1.2em;
    margin: 2.4em auto;
    width: 100%;
  }
}

.data-email,
.data-map,
.data-phone {
  height: 270px;
  margin: 2em 0;
  width: 290px;

  h6,
  p {
    font-size: 1em;
    font-weight: bold;
    margin: 1.8em 0 1em;
    text-align: center;
    text-transform: uppercase;
  }

  p {
    margin: .1em;
  }

}

.contact-details {
  @include flex(space-between);
  align-self: center;
  flex-direction: row;
  height: 335px;
  width: 940px;

  figure {
    @include flex(center);
    height: 9em;
    margin: 0;

    img {
      align-self: center;
    }
  }
}

.data-email {
  figure {
    @include img('../images/bg-mail.jpg', bottom center, normal);
  }
}

.data-map {
  figure {
    @include img('../images/bg-map.jpg', bottom center, normal);
  }
}

.data-phone {
  figure {
    @include img('../images/bg-phone.jpg', bottom center, normal);
  }
}

.contact-map {
  background-color: $link;
  display: flex;
  flex-direction: column;
  height: 550px;
  position: relative;

  iframe {
    height: 100%;
    opacity: .5;
    transition: opacity .3s ease-in-out;
    width: 100%;
  }

  h5 {
    color: $font-light;
    font-size: 1.3em;
    left: 50%;
    letter-spacing: .1em;
    margin: 0;
    padding-top: .5em;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);

    span {
      background-color: $font-blog;
      border-radius: 50%;
      display: inline;
      margin: .2em;
      padding: .6em .4em .3em .8em;
    }
  }

  &:hover {
    iframe {
      opacity: 1;
    }

    h5 {
      display: none;
    }
  }
}
