// cover styles

.cover {
  display: flex;
  flex-direction: column;
  height: 48.125em;
  overflow: hidden;
  position: relative;

  img {
    margin-top: -10%;
  }
}

.slogan {
  left: 28%;
  position: absolute;
  top: 38%;
  z-index: 1;

  h4 {
    color: $font-light;
    font-size: 1.56em;
    font-weight: normal;
    letter-spacing: .15em;
    margin-top: 1.82em;
    text-align: center;
    text-transform: uppercase;
    z-index: 10;

    &::before,
    &::after {
      content: '-';
      margin: 0 .5em;
    }
  }
}
