// cover styles

.cover {
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  height: 48em;

  img {
    align-self: center;
    margin-top: 13.2em;
    max-width: 55em;
  }
}
