// cover styles

h1 {
  color: $title-color;
  font-family: 'Master Of Break', serif;
  font-size: 5em;
  // text-shadow: .1em 0em .1em #fff, 0em .1em .1em #fff, -0.1em 0em .1em #fff, 0em -0.1em .1em #fff;
  // border: .1em solid white;
}
// img(src="images/cover1.jpg")
// img(src="images/cover2.jpg")
