// gallery

.features {
  @include flex(center);
  background-color: $background-menu;
  flex-direction: column;
  height: 54.875em;
}

.gallery-up {
  @include flex(center);
  flex-basis: 50%;

  .gallery-element {
    &:first-child {
      @include img('../images/icecream.jpg', center, 25%);
    }

    &:nth-child(2) {
      align-self: center;
      flex-basis: 25%;

      h2 {
        animation: wow 5s linear infinite;
        letter-spacing: .3em;
        margin-bottom: 1.1em;
      }
    }

    &:last-child {
      @include img('../images/cheese-cake.jpg', center, 50%);
    }
  }
}

.gallery-down {
  @include flex(center);
  flex-basis: 50%;

  .gallery-element {
    &:first-child {
      @include img('../images/cookies.jpg', center, 50%);
    }

    &:nth-child(2) {
      @include flex(center);
      @include img('../images/croissants.jpg', center, 25%);
      align-items: center;

      h2 {
        animation: wow 4s linear infinite;
        background-color: $transparent-color;
        box-sizing: border-box;
        color: $font-light;
        height: 80%;
        letter-spacing: .01em;
        margin: 10%;
        padding-top: 1.8em;
      }
    }

    &:last-child {
      @include img('../images/burger.jpg', center, 25%);
    }
  }
}

@media (max-width: 81rem) {
  .features {
    height: 37.5em;

    h2 {
      font-size: 2.6em;
    }
  }
}

@media (max-width: 68rem) {
  .features {
    height: 35em;
  }

  .gallery-element {
    &:nth-child(2) {
      h2 {
        font-size: 2em;
        margin: 5%;
      }
    }
  }

  .gallery-up {
    .gallery-element {
      &:first-child {
        @include img('../images/icecream.jpg', center, 33.33%);
      }

      &:nth-child(2) {
        flex-basis: 33.33%;
      }

      &:last-child {
        @include img('../images/cheese-cake.jpg', center, 33.33%);
      }
    }
  }

  .gallery-down {
    .gallery-element {
      &:first-child {
        @include img('../images/cookies.jpg', center, 33.33%);
      }

      &:nth-child(2) {
        @include img('../images/croissants.jpg', center, 33.33%);

        h2 {
          padding: 2em;
        }
      }

      &:last-child {
        @include img('../images/burger.jpg', center, 33.33%);
      }
    }
  }
}

@media (max-width: 48rem) {
  .features {
    height: 120em;
  }

  .gallery-up,
  .gallery-down {
    flex-direction: column;

    .gallery-element {

      h2 {
        font-size: 2.6em;
        margin-top: 2em;
      }
    }
  }
}
