// nav styles

header {
  height: 6.2em;
}

.nav-wrapper {
  background-color: $font-light;
  height: 6.2em;
  position: fixed;
  width: 100%;
  z-index: 1;
}

nav {
  @include flex(center);
  margin: 1.4em 11.8vw;
}

.nav-logo {
  margin: 0 9.5vw 0 1.5vw;
}

.nav-main {
  display: flex;

  .mobile-button {
    display: none;
  }

  a {
    align-self: center;
    color: $link;
    font-size: 1.1em;
    padding-top: .9em;
    text-decoration: none;
  }

  ul {
    @include flex(space-between);
  }

  li {
    display: flex;
    font-weight: bold;
    letter-spacing: .1.6em;
    list-style: none;
    margin: 0 1.9vw;
    text-transform: uppercase;
  }

}

// media queries

@media (max-width: 1100px) {
  header,
  .nav-wrapper {
    height: 4em;
  }

  nav {
    margin: .5em 0;

    img {
      height: 3em;
    }
  }

  .nav-main {
    a {
      font-size: .9em;
    }

    li {
      letter-spacing: normal;
    }
  }
}

@media (max-width: 800px) {
  .nav-main {
    a {
      font-size: 1.2em;
    }

    img {
      height: 1.5em;
      margin-top: .4em;
    }

    .mobile-button {
      display: block;
      margin-left: 50vw;
    }

    ul {
      display: none;
      padding: 0;

      &.open {
        background-color: $font-light;
        display: block;
        left: 0;
        margin: 3.45em 0 5em;
        padding-bottom: 100vh;
        position: absolute;
        width: 100%;

        li {
          display: flex;
          justify-content: center;
          margin: .5em 2em;
        }
      }
    }
  }
}
