// nav styles

nav {
  @include flex(center);
  align-items: center;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 80em;

  .logo {
    flex-grow: 2;

    img {
      padding-top: .8em;
    }
  }

  .nav {
    @include flex(space-between);
    flex-grow: 3;
    flex-wrap: nowrap;

    a {
      color: $link;
      font-size: 1.1em;
      font-weight: bold;
      letter-spacing: .15em;
      list-style: none;
      padding-top: 1.8em;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}
