//reservation

.reservation {
  @include container;

  h1 {
    margin: .35em 0 .5em -.3em;

    span {
      margin-left: .35em;
    }
  }
}

@media (max-width: 81rem) {
  .reservation {
    height: 30em;
  }
}

@media (max-width: 68rem) {
  .reservation,
  .menu-full,
  .blog-info {
    p {
      box-sizing: border-box;
      font-size: 1.2em;
      padding: 0 .5em;
      width: 96%;
    }
  }
}

@media (max-width: 48rem) {
  .reservation {
    h1 {
      font-size: 1.6em;
    }

    p {
      font-size: 1em;
    }
  }
}
