// shop

.shop {
  @include flex(flex-end);
  @include img('../images/lemon-cake.jpg', center, 100%);
  align-items: center;
  height: 50rem;
}

.promo {
  flex-basis: 50%;

  img {
    margin: -3.3em 0 3.5em .4em;
  }

  p {
    color: $font-light;
    font-size: 1.125em;
    margin: 0 3em;
    width: 31.25rem;
  }

  .price {
    font-family: 'Master Of Break', Georgia, serif;
    font-size: 3.125em;
    margin: .7em 1em;
  }

  button {
    background-color: transparent;
    border: 1px solid $font-light;
    color: $font-light;
    font-family: 'Nanami Book', Arial, sans-serif;
    font-size: 1.125em;
    margin-left: 3em;
    padding: 1em 2em;
    text-transform: uppercase;

    &:hover {
      animation: shake .3s linear;
      box-shadow: 0 0 1em 0 $transparent-contrast;
    }
  }
}

.shopping {
  @include flex(space-between);
  align-items: center;
  height: 15.625rem;
  margin: 0 auto;
  padding: 0 1em;
  max-width: 70em;

  p {
    font-family: 'Nanami Book', Arial, sans-serif;
    font-size: 1.875em;
    text-align: center;
  }
}

.online {
  align-self: center;
  text-align: center;

  #online-sprite {
    animation: wow 3s linear infinite;
    background: url('../images/shop-icons.png');
    height: 83px;
    margin: 2em 2.8em -.4em;
    width: 110px;
  }
}

.freeship {
  margin: 0 1.8em;

  #freeship-sprite {
    animation: wow 3s linear infinite;
    animation-delay: .1s;
    background: url('../images/shop-icons.png') 263px;
    height: 83px;
    margin: 2em 0 -.4em -.8em;
    width: 158px;
  }
}

.quality {
  #quality-sprite {
    animation: wow 3s linear infinite;
    animation-delay: .2s;
    background: url('../images/shop-icons.png') 106px;
    height: 83px;
    margin: 2em 3.8em -.4em;
    width: 106px;
  }
}

.pipe {
  background-color: $pipe;
  height: 6.5625em;
  width: .1rem;
}

@media (max-width: 81rem) {
  .shop {
    height: 37.5rem;
  }

  .promo {
    img {
      height: 10em;
      margin: .4em;
    }

    .price {
      font-size: 3em;
    }

    button {
      font-size: 1em;
    }
  }

  .shopping {
    width: 75vw;

    p {
      font-size: 1.5em;
    }
  }
}

@media (max-width: 68rem) {
  .shop {
    @include img('../images/lemon-cake.jpg', -100px, 100%);
  }
}

@media (max-width: 48rem) {
  .promo {
    margin: 0 auto;
    width: 100%;

    * {
      margin: 0;
      padding: 0;
    }

    img {
      height: 8em;
    }

    p {
      font-size: 1em;
      width: 80%;
    }
  }

  .shopping {
    flex-direction: column;
    height: auto;
  }

  .pipe {
    height: .125em;
    width: 12em;
  }
}
