extends _layouts/base

block content
  .nav
    nav
      .logo
      ul
        li home
        li reservation
        li menu
        li blog
        li features
        li shop
        li contacts
  .home
    h1 Taste on Our hands!
    h4 Wellcome
  .reservation
    h3 Wellcome to Our Top
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
    button Make a Reservation
  .section
    .menu
      .figure
        .menu-picture
      .article
        .menu-slogan
        h2 Make every cooking time a special moment
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
      .article
        .menu-details
        h3 Our Baking
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
        button View Full Menu
  .section
    .shop
      h1 The Lemon Cake
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
      p.price $15.00
      button View All
  .section
    .features
      .gallery
        p Gallery
        p The Cake Blah
  .section
    .blog
      h3 Our Blog
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
  .section
    .contacts
      .contact-form
      .contact-details
      .contact-map
  .footer
    h2 Top
    p Copyright 2016. All rights Reserved
    .social
