extends _layouts/base

block content
  nav#nav
    .sticky-nav
      .logo
        a(href='#nav')
          img(src="images/nav-logo.png" alt="Top Food & Drink Logo")
      .nav
        each element in ['home', 'reservation', 'menu', 'blog', 'features', 'shop', 'contacts']
          - url= "#" + element
          a(href=url)
            =element
  section#home.cover
    .owl-carousel
      img.item(src="images/cover1.jpg" alt="Taste it")
      img.item(src="images/cover2.jpg" alt="Taste it")
    .slogan
      img(src="images/slogan-taste-on.png" alt="Taste on Our hands")
      h4 Wellcome
  aside#reservation.reservation
    h1 Wellcome to Our 
      span Top
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
    button Make a Reservation
  main
    section#menu.menu
      article.special-moment
        .menu-picture
        .menu-slogan
          .container
            h2 Make every cooking time a special moment
            img(src="images/pot.jpg" alt="Cooking Special Moment")
            p Lorem ipsum dolor sit amet 
            p consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure 
            p dolor in reprehenderit
      article.menu-full
        h4 Our
          span Baking
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
        button View Full Menu
    section
      #shop.shop
        .promo
          img(src="images/slogan-lemon-cake.png" alt="The Lemon Cake")
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod ter incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          p.price $15.00
          button View All
      .shopping
        .online
          #online-sprite
          p Online Shopping
        .pipe
        .freeship
          #freeship-sprite
          p Free Ship
        .pipe
        .quality
          #quality-sprite
          p Quality Products
    section#features.features
      .gallery-up
        .gallery-element
          a(href="#")
        .gallery-element
          h2 Gallery
        .gallery-element
          a(href="#")
      .gallery-down
        .gallery-element
          a(href="#")
        .gallery-element
          h2 The Cake Blah
        .gallery-element
          a(href="#")
    section#blog.blog
      .blog-info
        h4 Our
          span Blog
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
      .blog-promo
        - for (var i = 0 ; i < 4; i++) {
          .view-promo
            h5 How To Make 
              span The Food
              button View
        - }
        
  section#contacts.contact
    .contact-form
      h4 Contacts
        span Us
      form
        .form-data
          input(type="text" id="name" placeholder="Your name")
          input(type="email" id="email" placeholder="Email address")
          input(type="text" id="subject" placeholder="Subject")
        .form-message
          textarea(name="message")
          button(type="submit")
            | Submit Now
    .contact-details
      .data-email
        figure
          img(src="images/icon-mail.png" alt="Email")
        h6 Email
        p top@blah.com
      .data-map
        figure
          img(src="images/icon-map.png" alt="Map")
        h6 Our Restaurant
        p 431-Nguyen Khang
        p Ha Noi-Viet Nam
      .data-phone
        figure
          img(src="images/icon-phone.png" alt="Phone")
        h6 Phone
        p (+84)-797-6809
    .contact-map
      iframe(src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d4964.983460192965!2d0.0317665!3d51.5225402!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spl!2spl!4v1473194712916" width="600" height="450" frameborder="0" style="border:0" allowfullscreen)
      h5 Find
        span Top
        | On The Map
  footer
    h2 Top
    p Copyright 2016. All rights Reserved
    .social
      .facebook
        a(href="#")
      .twitter
        a(href="#")
      .linkedin
        a(href="#")
      .instagram
        a(href="#")
      .vimeo
        a(href="#")
