// External Fonts

@font-face {
  font-family: 'Nanami Light';
  font-style: normal;
  font-weight: normal;
  src: url('../../fonts/nanami-light-webfont.woff2') format('woff2'), url('../../fonts/nanami-light-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Nanami';
  font-style: normal;
  font-weight: bold;
  src: url('../../fonts/nanami-black-webfont.woff2') format('woff2'), url('../../fonts/nanami-black-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Nanami';
  font-style: normal;
  font-weight: normal;
  src: url('../../fonts/nanami-medium-webfont.woff2') format('woff2'), url('../../fonts/nanami-medium-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Nanami Book';
  font-style: normal;
  font-weight: normal;
  src: url('../../fonts/nanami-book-webfont.woff2') format('woff2'), url('../../fonts/nanami-book-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Master Of Break';
  font-style: normal;
  font-weight: normal;
  src: url('../../fonts/master_of_break-webfont.woff2') format('woff2'), url('../../fonts/master_of_break-webfont.woff') format('woff');
}
