// mixins

@mixin flex($position) {
  display: flex;
  justify-content: $position;
}

@mixin button {
  button {
    background-color: $button;
    border: 0;
    color: $font-btn;
    font-family: 'Nanami Book', Arial, sans-serif;
    height: 60px;
    letter-spacing: .1em;
    margin: 1.6em;
    text-transform: uppercase;
    width: 240px;
  }
}

@mixin paragraph {
  p {
    font-size: 1.375em;
    margin: 1em;
    text-align: center;
    width: 1070px;
  }
}

@mixin container {
  @include flex(center);
  @include button;
  @include paragraph;
  align-items: center;
  flex-direction: column;
  height: 600px;
}
