// mixins

@keyframes shake {
  0% {
    backface-visibility: hidden;
    transform: rotate(0deg) scale(1) translateZ(0);
    // translateZ(0) - reason:
    // 3D animation enables on mobiles hardware acceleration
    // http://webdesign.tutsplus.com/tutorials/css3-animations-the-hiccups-and-bugs-youll-want-to-avoid--webdesign-4867
    // backface-visibility: hidden; - reason: Fighting the Flash
  }

  20% {
    transform: rotate(0deg) scale(.8);
  }

  40% {
    transform: rotate(2deg) scale(1);
  }

  70% {
    transform: rotate(-2deg) scale(1.1);
  }

  90% {
    transform: rotate(2deg) scale(1.05);
  }

  100% {
    transform: rotate(0deg) scale(1);
  }
}

@keyframes wow {
  88% {
    transform: scale(1) translateZ(0);
  }

  90% {
    transform: scale(.9);
  }

  94% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes button {
  90% {
    background-color: $button;
    transform: translateZ(0);
  }

  95% {
    background-color: $title;
  }

  100% {
    background-color: $button;
  }
}

@keyframes reveal-btn {
  100% {
    height: 9em;
    margin-left: -31%;
    transition: height .1s linear, margin .1s linear, width .1s linear;
    width: 20em;
  }
}

@mixin flex($position) {
  display: flex;
  justify-content: $position;
}

@mixin button {
  button {
    animation: button 5s linear infinite;
    background-color: $button;
    border: 0;
    box-shadow: 0;
    color: $font-btn;
    font-family: 'Nanami Book', Arial, sans-serif;
    height: 60px;
    letter-spacing: .1em;
    margin: 1.6em;
    text-transform: uppercase;
    transition: box-shadow .2s ease-in-out;
    width: 240px;

    &:hover {
      animation: shake .3s linear;
      box-shadow: 0 0 1em 0 rgba(0, 0, 0, .4);
    }
  }
}

@mixin paragraph {
  p {
    font-size: 1.375em;
    margin: 1em;
    text-align: center;
    width: 1070px;
  }
}

@mixin container {
  @include flex(center);
  @include button;
  @include paragraph;
  align-items: center;
  flex-direction: column;
  height: 600px;
}

@mixin img($url, $position, $width) {
  background: url($url) $position;
  background-size: cover;
  flex-basis: $width;
}

@mixin input {
  background-color: transparent;
  border: 1px solid $font-light;
  color: $font-light;
  font-size: 1.125em;
  transition: background-color .2s ease-in-out;

  &:hover,
  &:focus {
    background-color: rgba(0, 0, 0, .6);
    outline: none;
  }
}
